<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/static/test/vendor/qunit.css">
    </head>
    <body>
        <div id="qunit"></div>
        <script src="/static/test/vendor/qunit.js"></script>        
        <script src="/static/vendor/jquery.js"></script>
        <script src="/static/vendor/underscore.js"></script>
        <script src="/static/vendor/backbone.js"></script>
        <script src="/static/lib/betelbot.ai.js"></script>
        <script src="/static/test/test.js"></script>
    </body>
</html>